name: Python package

on: ["push", "pull_request"]

jobs:

  build:

    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8]

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install coverage coveralls PyYAML

      - name: Run tests with coverage
        run: |
          pip install .[test]
          coverage run --source=usp setup.py test

      - name: Submit coverage results
        run: coveralls
        env:
          COVERALLS_REPO_TOKEN: $(COVERALLS_REPO_TOKEN)

  package:
    name: Package
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pep517
        run: |
          python -m pip install pep517

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install coverage coveralls

      - name: Build a binary wheel and a source tarball
        run: |
          python -m pep517.build --source --binary --out-dir dist/ .

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
