name: Integration Test

on: [workflow_dispatch]

permissions:
  contents: read

jobs:
  integ_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup uv and Python
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --locked --group dev
      - name: Cache cassettes
        uses: actions/cache@v4
        with:
          path: tests/integration/cassettes
          # Always restore this cache as the script takes care of updating
          key: usp-cassettes
      - name: Download cassettes
        run: poetry run python tests/integration/download.py -d
      - name: Run integration tests
        run: poetry run pytest --integration --durations=0 --junit-xml=integration.xml tests/integration/test_integration.py
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          path: $GITHUB_SHA.xml
          name: junit_report