name: Integration Test

on: [workflow_dispatch]

permissions:
  contents: read

jobs:
  integ_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install Poetry
        run: pipx install poetry==2.0.1 --python '${{ steps.setup-python.outputs.python-path }}'
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Install Project
        run: poetry install --no-interaction
      - name: Cache cassettes
        uses: actions/cache@v4
        with:
          path: tests/integration/cassettes
          # Always restore this cache as the script takes care of updating
          key: usp-cassettes
      - name: Download cassettes
        run: poetry run python tests/integration/download.py -d
      - name: Run integration tests
        run: poetry run pytest --integration --durations=0 --junit-xml=integration.xml tests/integration/test_integration.py
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          path: $GITHUB_SHA.xml
          name: junit_report